{% extends "layout.html" %}

{% block main %}

<table class="table">
        <h1 class="mb-3">Sheet</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">House</th>
                <th scope="col">Position</th>
            </tr>
        </thead>
       
            {% for i in registered %}
           <tr>
               {% for j in i %}
               <td>{{j}}</td>
           
            {% endfor %}
            </tr>
            {% endfor %}

             
        
            
 

         </tbody>   

</table>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>

        $('table')['DataTable']({'info':![],'ordering':!![],'paging':![],'searching':![]});

    </script>

{% endblock %}
